$font-primary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-secondary: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

$primary-color: #99cde2;
$secondary-color: #5d855d;
$light: rgb(236, 236, 236);
$dark: rgb(37, 37, 37);
$grey: grey;

$transparent: transparent;
// $color_snow_white: rgb(255, 255, 255);
$color_light_grey: rgb(206, 206, 206);

header {
    width: 100%;
    height: 60px;
    background-color: $dark;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.button {
    width: 80px;
    height: 80%;
    font-size: 20px;
    border: none;
    background-color: $transparent;
    color: $color_light_grey;
    font-family: $font-primary;
}

.button:hover{
    color: $light;
    cursor: pointer;
}